/*

.gitignore
README.md

# Keep the folders nested under .config, but not the loose files
!.config/
!.config/**/
.config/*
!.config/**/

# Softwares I don't want to backup
.config/astro
.config/dconf
.config/evolution
.config/filezilla
.config/flameshot
.config/gh
.config/goa-1.0
.config/gtk-3.0
.config/ibus
.config/org.gnome.Ptyxis
.config/pulse

# bashrc
!.bashrc.d/**


# neovim
!.config/nvim
!.config/nvim/**
.config/nvim/.netrwhist
.config/nvim/plugged/
.config/nvim/.init.vim.swp

# scripts
!scripts
!scripts/**

# vscode
!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
