[user]
	email = phil.laf@gmail.com
	name = Philippe Lafrance
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	lg = "!git log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	lga = "!git log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all"
	cleanup = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d"
[mergetool "vimdiff"]
	path = nvim
[rerere]
	enabled = true
