# Ignore everything
*

# Whitelisted files
README.md
!.gitignore
!.gitignore_global
!.gitmodules
!.bashrc
!.bash_profile
!.tmux.conf
!.vimrc
!.gitconfig
!.notags
!install.sh
!.env.mindgeek

# Whitelisted folders
!.scripts
!.scripts/**

#!/golang
#!/golang/**

!.vim/
!.vim/**

# nvim config
!.config
!.config/nvim
!.config/nvim/init.vim
!.config/nvim/autoload/
!.config/nvim/autoload/**

# Keep the undodir
.vim/undodir/**
!.vim/undodir/.gitkeep

# Actual ignores
.vim/bundle/
