# Ignore everything
*

# Whitelisted files
README.md
!.gitignore
!.gitignore_global
!.gitmodules
!.bashrc
!.bash_profile
!.tmux.conf
!.vimrc
!.gitconfig

# Whitelisted folders
!.scripts
!.scripts/**

#!/golang
#!/golang/**

!.vim/
!.vim/**

# Keep the undodir
.vim/undodir/**
!.vim/undodir/.gitkeep

# Actual ignores
.vim/bundle/
